<html>
	<head>
		<meta charset="utf-8">
		<title>名称</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.min.css">

		<script type="text/javascript" src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="http://libs.useso.com/js/angular.js/1.3.0-beta.9/angular.min.js"></script> -->
		<script type="text/javascript" src="http://cdn.staticfile.org/react/0.12.0-rc1/react.min.js"></script>
		<!-- <script type="text/javascript" src="http://cdn.staticfile.org/react/0.12.0-rc1/JSXTransformer.js"></script> -->
		<script type="text/javascript" src="http://cdn.staticfile.org/underscore.js/1.7.0/underscore-min.js"></script>
		<style>
		  	.js-bj ul{
		  		display: flex;
  				align-items: center;
  				flex-wrap: wrap;
  			}
			.js-bj li{
				margin:5px;
				float: none;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Brand</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div id="nav-env">
						
					</div>
					<div id="get-html" class="navbar-form navbar-left" role="search"></div>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="container-fluid">
			<div id="panel"></div>
			<div id="example"></div>
		</div>
	</body>

 

</html>
<script>
	var env="";
</script>
<script src="__ROOT__/Public/build/judge.js"></script>